In [4]:
import GetOldTweets3 as got
import pandas as pd
import datetime

In [5]:
username = 'potus44'
count = 50000
# Creation of query object
tweetCriteria_potus44 = got.manager.TweetCriteria().setUsername(username)\
                                        .setMaxTweets(count)
# Creation of list that contains all tweets
tweets_potus44 = got.manager.TweetManager.getTweets(tweetCriteria_potus44)
# Creating list of chosen tweet data
user_tweets_potus44 = [[tweet.date.date(), tweet.text] for tweet in tweets_potus44]

In [6]:
username = 'barackobama'
count = 50000

tweetCriteria_bo = got.manager.TweetCriteria().setUsername(username)\
                                           .setSince("2009-01-20")\
                                           .setUntil("2017-01-20")\
                                           .setMaxTweets(count)
tweets_bo = got.manager.TweetManager.getTweets(tweetCriteria_bo)
user_tweets_bo = [[tweet.date.date(), tweet.text] for tweet in tweets_bo]

In [9]:
username = 'potus'
count = 50000
# Creation of query object
tweetCriteria_potus = got.manager.TweetCriteria().setUsername(username)\
                                        .setMaxTweets(count)
# Creation of list that contains all tweets
tweets_potus = got.manager.TweetManager.getTweets(tweetCriteria_potus)
# Creating list of chosen tweet data
user_tweets_potus = [[tweet.date.date(), tweet.text] for tweet in tweets_potus]

In [10]:
username = 'realDonaldTrump'
count = 50000

tweetCriteria_dt = got.manager.TweetCriteria().setUsername(username)\
                                            .setSince("2017-01-20")\
                                            .setUntil("2020-05-31")\
                                            .setMaxTweets(count)
tweets_dt = got.manager.TweetManager.getTweets(tweetCriteria_dt)
user_tweets_dt = [[tweet.date.date(), tweet.text] for tweet in tweets_dt]

In [26]:
tweets = sorted(user_tweets_potus44 + user_tweets_bo  + user_tweets_potus + user_tweets_dt)

len(tweets)

19233

In [27]:
d = [x[0].strftime('%m/%d/%Y') for x in tweets][::-1]
t = [x[1] for x in tweets][::-1]

In [28]:
tweet_dict = {}

for i, d_value in enumerate(d):
    if d_value not in tweet_dict:
        tweet_dict[d_value] = t[i]
    else:
        tweet_dict[d_value] = " ".join([tweet_dict[d_value], t[i]])

In [29]:
d = tweet_dict.keys()
t = tweet_dict.values()

df_tweet = pd.DataFrame()
df_tweet["Date"] = d
# df_tweet["Date"] = df_tweet["Date"].dt.strftime('%m/%d/%Y')
df_tweet["Tweet"] = t

Historical Prices of DJJ retrieved from https://www.wsj.com/market-data/quotes/index/DJIA/historical-prices

In [30]:
text_path = "HistoricalPrices.csv"
df = pd.read_csv(text_path)
df = df.drop(' High', 1)
df = df.drop(' Low', 1)
df['change'] = (df[" Close"] - df[" Open"])*100/df[" Open"]
df = df.round(2)
df = df.drop(' Open', 1)
df = df.drop(' Close', 1)
df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%m/%d/%Y')

In [31]:
df.head(5)

         Date  change
0  05/29/2020    0.23
1  05/28/2020   -1.15
2  05/27/2020    0.99
3  05/26/2020    0.86
4  05/22/2020    0.01

In [32]:
df_merge = pd.merge(df_tweet, df, on='Date')
df_merge = df_merge.drop("Date", 1)

In [33]:
df_merge.to_csv('tweet&price.csv', encoding='utf-8', index=False)